.item {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: var(--background);
}

.item.active {
    display: block;
}

.item .title {
    font-size: 12rem; 
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    font-weight: bold;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.item .fruit {
    width: 90%;
    position: absolute;
        max-width: 5000px; /* Alterado de 90% para um tamanho fixo menor no desktop */

    top: 0;
    left: 50%; /* Adicionado para centralizar a fruta */
    transform: translateX(-50%); /* Adicionado para centralizar a fruta */
    z-index: 3;
}

.item .refri {
    z-index: 2;
    width: 100%;
    max-width: 300px; /* Reduzido de 600px para 300px */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#prev, #next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: #eee9;
    border: 1px solid #eee9;
    color: #eee;
    font-size: x-large;
    font-family: monospace;
    cursor: pointer;
    z-index: 4;
    border-radius: 50%;
}

#prev {
    left: 30px;
}

#next {
    right: 30px;
}

@keyframes toActive {
    from {
        top: 100%;
        opacity: 0;
    }
}

.item.active img.fruit {
    animation: toActive 0.5s ease-in-out 1;
}

.item.active .title {
    animation: toActive 0.5s ease-in-out 1;
}